<div class="container">
	<form class="login">
		<h2 class="login__title">Вход</h2>
		<input class="login__input" type="text" placeholder="Логин" name="login" />
		<input
			class="login__input"
			type="text"
			placeholder="Пароль"
			name="password"
		/>
		{{{button}}}
		<a class="button__link" href={{auth}}>Нет аккаунта?</a>
	</form>
</div>
