@import "../../style/vars";

.modal_avatar,
.modal_files {
  &-active {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
  }

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(0 0 0 / 40%);
  z-index: 10;
  transition: opacity 200ms ease-in;
  pointer-events: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  padding-top: 231px;
  padding-left: 70px;
}

.modal-body {
  width: 340px;

  &_search {
    background: $background-chat-input;
    border-radius: 30px;
    outline: none;
    border: none;
    padding: 10px;
    width: 80%;
    margin-bottom: 20px;

    &::placeholder {
      text-align: center;
    }
  }

  &_result {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &__item {
      display: flex;
      flex-direction: row;
      padding: 10px;
      align-items: center;

      &-role {
        color: $inactive-link;
        font-size: 12px;
        margin-left: auto;
      }

      img {
        margin-right: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      cursor: pointer;

      &:hover {
        background: $background-chat-message;
        color: $button;
      }
    }
  }
}

.dropdown {
  float: right;
  overflow: hidden;

  &__content {
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
    border-radius: 12px;
    z-index: 10;
    left: 46vw;
    padding: 10px 0;

    &:hover {
      display: block;
    }

    &-link {
      &_delete-chat {
        color: $exit-link;
      }

      &_info,
      &_add,
      &_delete,
      &_delete-chat {
        font-size: 12px;
        line-height: 14px;
        cursor: pointer;
        list-style-type: none;
        padding: 10px 15px;
        display: block;

        &:hover {
          background: $background-chat-message;
          color: $button;
        }
      }
    }
  }

  &__btn {
    border: none;
    background: transparent;
    cursor: pointer;

    &:hover {
      color: $button;
    }

    &:hover + .dropdown__content {
      display: block;
    }
  }
}

.contextmenu {
  z-index: 1000;
  position: fixed;
  display: none;
  width: 100px;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  border-radius: 6px;
  background: $background;

  &__list {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
  }

  &__item {
    font-size: 10px;
    padding: 5px;
    cursor: pointer;
    color: $inactive-link;

    &:hover {
      background: $background-chat-input;
    }
  }

  &.active {
    display: block;
  }
}

.chat {
  display: flex;
  flex-direction: row;
  width: 100%;

  &__line {
    padding-top: 21px;
    padding-right: 10px;
    padding-left: 10px;
    width: 310px;
    min-height: 90vh;
    background: $background;
    display: flex;
    flex-direction: column;

    &-link {
      display: block;
      color: $inactive-link;
      font-size: 12px;
      line-height: 12px;
      text-align: right;
      margin-bottom: 23px;
      cursor: pointer;

      &:hover {
        color: $button;
      }
    }

    &-input {
      background: $background-chat-input;
      border-radius: 5px;
      width: 300px;
      padding: 8px;

      &::placeholder {
        text-align: center;
      }

      outline: none;
      border: none;
    }
  }

  &__list {
    &-item {
      cursor: pointer;
      height: 47px;
      display: flex;
      border-top: 1px solid $border;
      padding: 12px 0;
      position: relative;

      &_avatar {
        width: 47px;
        height: 47px;
        margin-right: 10px;
        border-radius: 50%;
      }

      &_title {
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 4px;
      }

      &_text {
        color: $inactive-link;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        -ms-line-clamp: 2;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        display: -webkit-box;
        display: box;
        word-wrap: break-word;
        -webkit-box-orient: vertical;
      }

      &_date {
        font-weight: 500;
        font-size: 9px;
        line-height: 13px;
        color: $inactive-link;
        position: absolute;
        right: 0;
      }

      &_unread {
        background: $button;
        color: $base-white;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        right: 0;
        top: 5;
        font-size: 13px;
      }

      &:hover {
        background: $background-chat-message;
      }
    }
  }

  &__window {
    flex: 1 1 auto;
    min-height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1100px;
    min-width: 650px;
    display: flex;
    flex-direction: column;

    &-text {
      margin-top: 30vh;
      text-align: center;
      color: $inactive-link;
      padding-left: 40px;
      margin-bottom: 54vh;
    }

    &-user {
      margin-bottom: 20px;
      display: flex;
      border-bottom: 1px solid $border;
      padding: 10px 0;
      align-items: center;
      max-width: 100%;
      position: sticky;
      background: $background;

      &_avatar {
        width: 34px;
        height: 34px;
        cursor: pointer;
        border-radius: 50%;
      }

      &_name {
        font-weight: 600;
        font-size: 13px;
        line-height: 13px;
        font-style: normal;
        margin-left: 10px;
        padding-right: 48vw;
      }

      &_message {
        z-index: -1;
        margin-bottom: 10px;
        background: $background-chat-input;
        border-radius: 10px;
        padding: 11px;
        align-self: flex-start;
        flex-basis: content;
        display: block;
        max-width: 80%;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 55px;
          border-width: 4px;
          border-style: solid;
          border-color: transparent  transparent $background-chat-input transparent;
        }
      }

      &_text {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
      }

      &_date {
        color: $inactive-link;
        font-size: 9px;
        line-height: 9px;
        text-align: right;
      }
    }

    &-core {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 86vh;
      overflow-y: scroll;

      @supports (scrollbar-gutter: stable) {
        overflow: auto;
        scrollbar-gutter: stable;
      }
    }

    &-date {
      text-align: center;
      color: $inactive-link;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
    }

    &-your {
      &_message {
        &-link {
          cursor: pointer;
        }

        &-image {
          max-width: 300px;
        }

        z-index: -1;
        max-width: 80%;
        margin-bottom: 10px;
        align-self: flex-end;
        flex-basis: content;
        background: $background-chat-message;
        padding: 11px;
        border-radius: 10px;
        display: block;
        margin-right: 10px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          right: -3px;
          border-width: 5px;
          border-style: solid;
          border-color:
            transparent transparent $background-chat-message
            $background-chat-message;
        }
      }

      &_date {
        font-size: 9px;
        line-height: 9px;
        text-align: right;
        color: $button;
      }

      &_text {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
      }
    }

    &-message {
      border-top: 1px solid $border;
      display: flex;
      flex: 0 0 auto;
      padding: 11px 0;
      max-width: 100%;
      background: $background;
      align-items: center;

      &_wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
        cursor: pointer;
      }

      &_add {
        margin-right: 10px;
        cursor: pointer;
        border: none;
        background: transparent;

        &:hover {
          color: $button;
        }

        &-input {
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
        }

        font-size: 20px;
      }

      &_input {
        min-width: 48vw;
        padding: 10px 20px;
        background: $background-chat-input;
        border-radius: 30px;
        outline: none;
        border: none;
      }

      &_send {
        cursor: pointer;
        border: none;
        border-radius: 50%;
        font-size: 16px;
        color: $base-white;
        background: $background-chat-input;

        &:hover {
          background: $button;
        }
      }
    }
  }

  .error {
    border: 1px solid $exit-link;
  }
}
