<div class="chat">
			<div class="chat__line">
        <a class="chat__line-link" href={{profile}}>Профиль</a>
        <input class="chat__line-input" type="search" name="search" placeholder="Поиск">
      </div>
			<div class="chat__window">
				<p class="chat__window-text">
					Выберите чат чтобы отправить сообщение
				</p>
			</div>
		</div>