<div class="container">
	<form class="signin">
		<h2 class="signin__title">Регистрация</h2>
		<input
			class="signin__input"
			type="email"
			placeholder="Почта"
			name="email"
		/>
		<input class="signin__input" type="text" placeholder="Логин" name="login" />
		<input
			class="signin__input"
			type="text"
			placeholder="Имя"
			name="first_name"
		/>
		<input
			class="signin__input"
			type="text"
			placeholder="Фамилия"
			name="second_name"
		/>
		<input
			class="signin__input"
			type="tel"
			placeholder="Телефон"
			name="phone"
		/>
		<input
			class="signin__input"
			type="password"
			placeholder="Пароль"
			name="password"
		/>
		<input
			class="signin__input"
			type="password"
			placeholder="Повторите пароль"
			name="password"
		/>
		{{{button}}}
		<a class="button__link" href={{login}}>Войти</a>
	</form>
</div>
