@import "../layouts/signin/index.scss";
@import "../layouts/login/index";
@import "../layouts/chat/index";
@import "../layouts/errors/index";
@import "../layouts/profile/index";
@import "../style/vars";

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
}

a {
  text-decoration: none;
}

ul[class] {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 340px;
  height: 100%;
  background: $base-white;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  border-radius: 12px;
  margin-top: 135px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.pages {
  display: flex;
  flex-direction: column;

  &__title {
    padding-bottom: 40px;
    text-align: center;
    color: #1e1e1e;
    font-size: 20px;
    line-height: 20px;
  }

  &__list {
    &-item {
      margin-top: 10px;
    }

    &-link {
      color: #1e1e1e;
      font-size: 16px;
      line-height: 13px;

      &:hover {
        color: $button;
      }
    }
  }
}

.button {
  &__base {
    background: $button;
    border-radius: 8px;
    height: 37px;
    cursor: pointer;
    border: none;
    margin-bottom: 14px;
    margin-top: 50px;
    width: 100%;
    a {
      color: $base-white;
    }
  }

  &__link {
    display: block;
    width: 100%;
    text-align: center;
    color: $button;
    font-size: 11px;
    line-height: 11px;
  }

  &__profile {
    text-align: left;
    border: none;
    background: none;
    border-bottom: 1px solid $border;
    padding: 10px 0;
    display: block;
    width: 100%;
    &-link {
      color: $button;
    }

    &-exit {
      text-align: left;
      background: none;
      padding: 10px 0;
      border: none;

      a {
        color: $exit-link;
      }
    }
  }
}
.error_span {
  font-weight: 400;
font-size: 8px;
line-height: 8px;
color: #FF2F2F;
margin-top: 7px;
}
