$button: #3369f3;
$base-white: #fff;
$border: #eaeaea;
$base-text: #1e1e1e;
$inactive-link: #999;
$exit-link: #f00;
$background: #fbfbfb;
$background-chat-input: #efefef;
$background-chat-message: #e4edfd;
