@import "../../style/vars";

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 280px;
  text-align: center;

  &__code {
    font-size: 40px;
    line-height: 40px;
    color: $base-text;
  }

  &__text {
    font-size: 20px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 69px;
  }

  &__link {
    color: $button;
    font-size: 11px;
    line-height: 11px;
  }
}
